.root {
    color: var(--navyblue, #2E2F42);
    var(--slate, #434455);
    var(--white, #FFF)
    var(--navyblue, #2E2F42);
    var(--slate, #434455);

}

.logo {
    color: var(--iris, #4D5AE5);
    font-family:'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

span {
    color: var(--navyblue, #2E2F42)
}

.nav-list {
list-style: none;
}
.nav-list.item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navyblue, #2E2F42
    
}
